@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Secular+One&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: 10px;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100vh;
}

nav {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 40px;
  font-family: "Quicksand", sans-serif;
}

.nav-img {
  height: 110px;
  width: 110px;
  position: relative;
  left: 20px;
}

.nav-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav-left div:nth-child(2) {
  font-size: 25px;
  color: rgba(169, 169, 169);
}

.nav-right {
  display: flex;
  width: 250px;
  justify-content: space-around;
  align-items: center;
  padding-right: 45px;
  position: relative;
  bottom: 20px;
}

.nav-right div a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(169, 169, 169);
}

.nav-right div a:hover {
  text-decoration: none;
  font-size: 18px;
  color: rgba(110, 110, 110);
}

.main1-container {
  grid-column: 1 / span 5;
  grid-row: 2 / span 1;
}

.main1-container .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about .child {
  padding: 10px;
}

.about .child h1 {
  font-size: 75px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  /* opacity: 0.7; */
  color: #6b6b6b;
}

.about .child p {
  opacity: 0.7;
}

.product {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  padding: 0px 20px;
}

.product-card p {
  opacity: 0.5;
}

.product-card div {
  padding: 8px 0px;
}

.product-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.main2-container {
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
}

.main2-container .main2-top-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main2-top-parent div h1 {
  font-size: 50px;
}

.main2-top-parent .child {
  padding: 10px;
}

.main2-top-parent h2 {
  font-size: 45px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  /* opacity: 0.7; */
  color: #6b6b6b;
}

.main2-top-parent p {
  opacity: 0.5;
}

.main2-bottom-parent {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 0px 50px;
}

.profile-card .social-media {
  padding-top: 10px;
}

.profile-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: flex-start;
}

.social-media div {
  padding: 0px 2px 0px 0px;
}

.social-media img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  border-radius: 50px;
  opacity: 0.2;
  padding: 1px;
}

footer {
  grid-column: 1 / span 5;
  grid-row: 4 / span 1;
  background: #282828;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  color: #777;
}

.footer-top-container {
  display: flex;
  padding-top: 20px;
}

footer img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50px;
  background-color: transparent;
}

.footer-top-container-cell {
  display: flex;
  align-items: center;
  padding: 0px 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Secular One", sans-serif;
  color: #525252;
}

.footer-top-container-cell div:nth-child(2) {
  position: relative;
  bottom: 2px;
}

.footer-top-container-cell div {
  padding: 0px 2px;
}

.footer-top-container-cell div:nth-child(2) {
  opacity: 0.5;
}

.footer-mid-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 25px;
  width: 1200px;
  text-align: center;
}

.footer-mid-container h5 {
  padding-bottom: 15px;
  color: #fff;
  opacity: 0.7;
}

.address div {
  padding: 2px 0px;
  word-spacing: 5px;
  color: #999;
  opacity: 0.5;
  line-height: 1.3;
}

.div-line-dark {
  display: block;
  height: 2px;
  width: 100%;
  position: relative;
  top: 35px;
  background: #313131;
}

.footer-bottom-container {
  text-align: center;
  padding-bottom: 20px;
  opacity: 0.3;
  font-size: 10px;
}

@media (max-width: 1223px) {
  nav {
    width: 1000px;
  }

  .main1-container {
    width: 1000px;
  }

  .main2-container {
    width: 1000px;
  }

  footer {
    width: 1000px;
  }
}

@media (max-width: 1045px) {
  body {
    padding: 0;
    margin: 0;
  }

  nav {
    width: 850px;
  }

  .nav-left {
    position: relative;
    bottom: 0;
  }

  .nav-right {
    position: relative;
    bottom: 0;
    padding-top: 50px;
  }

  .main1-container {
    width: 850px;
  }

  .main1-container .about {
    width: 100%;
  }

  .main2-container {
    width: 850px;
  }

  .main2-container .main2-top-parent {
    width: 850px;
  }

  .main2-bottom-parent {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-card {
    max-width: 300px;
  }

  .profile-card:nth-child(odd) {
    padding: 0px 20px;
  }

  .profile-card .profile-img {
    width: 300px;
  }

  .profile-img img {
    height: 300px;
    width: 300px;
  }

  footer {
    width: 850px;
  }

  .footer-mid-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 25px;
    width: 850px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }

  body a {
    visibility: hidden;
  }

  nav {
    width: 600px;
  }

  .nav-right {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5px;
    width: 5px;
    position: relative;
    left: 90px;
    opacity: 0.5;
  }

  .main1-container {
    width: 100%;
  }

  .main1-container .about {
    width: 650px;
    margin: 0;
    padding-top: 50px;
  }

  .main1-container .about h1 {
    position: relative;
    left: 40px;
  }

  .product {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .product-card {
    max-width: 100%;
    padding: 20px 0px;
  }

  .product-card img {
    height: 750px;
  }

  .product-card h3,
  p {
    text-align: center;
    width: 650px;
    position: relative;
    left: 40px;
  }

  .main2-container {
    width: 100%;
  }

  .main2-container .main2-top-parent {
    width: 650px;
    margin: 0;
  }

  .main2-top-parent h2 {
    position: relative;
    left: 20%;
  }

  .main2-bottom-parent {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .profile-card {
    width: 100%;
    padding: 0px;
  }

  .main2-bottom-parent .profile-card h4 {
    width: 750px;
    text-align: center;
    font-size: 20px;
  }

  .social-media {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .social-media img {
    height: 30px;
    width: 30px;
  }

  .profile-card:nth-child(odd) {
    padding: 0px;
  }

  .profile-img img {
    height: 600px;
    width: 750px;
    object-fit: cover;
  }

  footer {
    height: 600px;
    width: 100%;
  }

  .footer-top-container {
    position: relative;
    left: 20px;
  }

  .footer-mid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 750px;
    text-align: center;
  }

  .footer-bottom-container {
    width: 750px;
    font-size: 15px;
    position: relative;
    left: 15px;
  }

  .address div {
    padding-bottom: 10px;
  }

  .div-line-dark {
    position: relative;
    top: 15px;
  }
}

@media (max-width: 375px) {
  body {
    padding: 0;
    margin: 0;
  }

  body a {
    visibility: hidden;
  }

  nav {
    width: 300px;
    padding-bottom: 25px;
  }

  .nav-right {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5px;
    width: 5px;
    position: relative;
    left: 20px;
    opacity: 0.5;
  }

  .main1-container {
    width: 50%;
  }

  .main1-container .about {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main1-container .about h1 {
    position: relative;
    left: 10px;
  }

  .about .child h1 {
    font-size: 40px;
  }

  .product {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .product-card {
    width: 100%;
    padding: 20px 0px;
  }

  .product-card h3,
  p {
    text-align: center;
    width: 330px;
    position: relative;
    left: 10px;
  }

  .product-card img {
    height: 300px;
    width: 370px;
  }

  .main2-container {
    width: 50%;
  }

  .main2-container .main2-top-parent {
    width: 330px;
  }

  .main2-top-parent h2 {
    position: relative;
    left: 10px;
  }

  .main2-bottom-parent {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .main2-bottom-parent .profile-card h4 {
    width: 370px;
    text-align: center;
    font-size: 20px;
  }

  .social-media {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .social-media img {
    height: 30px;
    width: 30px;
  }

  .profile-card {
    width: 100%;
    padding: 0px;
  }

  .profile-card:nth-child(odd) {
    padding: 0px;
  }

  .profile-img img {
    height: 300px;
    width: 370px;
    object-fit: cover;
  }

  footer {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-top-container-cell:nth-child(2) {
    position: relative;
    left: 8px;
  }

  .footer-top-container {
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }

  .footer-mid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    text-align: center;
    padding-right: 30px;
  }

  .footer-bottom-container {
    width: 300px;
    font-size: 15px;
    padding-right: 100px;
  }

  .address div {
    padding-bottom: 10px;
  }

  .div-line-dark {
    position: relative;
    top: 15px;
  }
}
