* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  height: 100vh;
  padding: 20px;
}

.container {
  display: grid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 40px;
}

.nav-img {
  height: 110px;
  width: 110px;
  position: relative;
  left: 20px;
}

.nav-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav-left div:nth-child(2) {
  font-size: 25px;
  color: rgba(169, 169, 169);
}

.nav-right {
  display: flex;
  width: 250px;
  justify-content: space-around;
  align-items: center;
  padding-right: 45px;
  position: relative;
  bottom: 20px;
}

.nav-right div a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(169, 169, 169);
}

.nav-right div a:hover {
  text-decoration: none;
  font-size: 18px;
  color: rgba(110, 110, 110);
}

.main1-container .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about div h1 {
  font-size: 50px;
}

.about .child {
  padding: 10px;
}

.product {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  padding: 0px 20px;
}

.product-card div {
  padding: 8px 0px;
}

.product-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.main2-container .main2-top-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main2-top-parent div h1 {
  font-size: 50px;
}

.main2-top-parent .child {
  padding: 10px;
}

.main2-bottom-parent {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 0px 50px;
}

.profile-card div {
  padding: 8px 0px;
}

.profile-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.social-media {
  display: flex;
}

.social-media div {
  padding: 0px 2px;
}

.social-media img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  border-radius: 50px;
  opacity: 0.2;
}

footer {
  background: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  color: white;
}

.footer-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  opacity: 0.5;
}

footer img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50px;
  background-color: transparent;
}

.footer-top-container-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
}

.footer-top-container-cell div {
  padding: 0px 2px;
}
.footer-top-container-cell div:nth-child(2) {
  opacity: 0.5;
}

.footer-mid-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 25px;
  width: 1200px;
  text-align: center;
}
.footer-mid-container h5 {
  padding-bottom: 15px;
  color: #fff;
  opacity: 0.7;
}

.address div {
  padding: 2px 0px;
  word-spacing: 5px;
  opacity: 0.3;
}

.div-line-dark {
  display: block;
  height: 2px;
  width: 100%;
  position: relative;
  top: 35px;
  background: #313131;
}

.footer-bottom-container {
  text-align: center;
  padding-bottom: 20px;
  opacity: 0.3;
}
